.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.checker-row {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: center;
}

.board-square {
    margin: 0px;
    padding: 0px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    flex: 1 0 auto;
    height: auto
}

.board-square:before {
    content: '';
    float: left;
    padding-top:100%;
}

/* Checkers */
.black-square {
    background-color: #606070;
}
.white-square {
    background-color: #eeeee7;
}

.active.board-square {
    border: 4px solid gold;
}

.checker {
    border-radius: 48%;
    margin: 10%;
    width: 80%;
    height: 80%;
} 
.active.checker {
    border: 4px solid green;
}

.red-checker {
    background-color: #802020;
}

.black-checker {
    background-color: #000009;
}

.bar {
    margin: 0 auto;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 20%;
    visibility: hidden;
}

.horizontal {
    width: 60%;
    height: 10%;
    left: 20%;
    top: 45%;
}

.vertical {
    width: 10%;
    height: 60%;
    left: 45%;
    top: 20%;
}

.king .bar {
    visibility: visible
}

